{:paths ["."]
 :deps
 {org.clojure/tools.nrepl {:mvn/version "0.2.12"}
  hawk {:mvn/version "0.2.11"}
  neovim-client {:mvn/version "0.1.2"}
  org.apache.xmlgraphics/batik-codec {:mvn/version "1.9"}
  org.apache.xmlgraphics/batik-transcoder {:mvn/version "1.9"}}
 :aliases
 {:dots {:main-opts ["-m" "dots"]}
  :test {:main-opts ["-m" "dots" "test"]}
  :server {:main-opts  ["-m" "dots" "server"]
           :extra-deps
           {cljfmt {:mvn/version "0.5.7"}}}}}
