{:paths ["."]
 :deps
 {org.clojure/tools.nrepl {:mvn/version "0.2.12"}
  hawk {:mvn/version "0.2.11"}
  digest {:mvn/version "1.4.8"}
  org.apache.xmlgraphics/batik-codec {:mvn/version "1.9"}
  org.apache.xmlgraphics/batik-transcoder {:mvn/version "1.9"}
  http-kit {:mvn/version "2.2.0"}}
 :aliases
 {:test {:main-opts ["-m" "dots" "test"]}
  :dots {:main-opts  ["-m" "dots"]
         :extra-deps
         {cljfmt {:mvn/version "0.5.7"}}}}}
