packages: [
  "atom-beautify"
  "atom-browser"
  "atom-hide-tabs"
  "buffer-list"
  "color-picker"
  "ex-mode"
  "file-icons"
  "git-blame"
  "git-plus"
  "ink"
  "language-scheme"
  "lisp-paredit"
  "minimap"
  "nord-atom-syntax"
  "package-sync"
  "pigments"
  "proto-repl"
  "swackets"
  "teletype"
  "terminal-tab"
  "travis-ci-status"
  "vim-mode-plus"
  "which-key"
]
